/* granim style */
.bloc-logo {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px auto 0px;
  background-position: inherit;
  top: 6rem;
}

.bloc-logo canvas, .bloc-logo .lgo {
  position: relative;
  top: 2.5rem;
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  margin: 0px auto 0px;
  display: block;
}

.logo-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: contain;
}




/* index css */
.indexContainer {
  background-color: rgb(255, 255, 255);
}

.trick {
  margin: 0px auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  height: 45vh;
  width: 50vh;
  border: 1px solid black;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19)
}

.enterApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
}





/* navbar css */
.nav {
  margin: 0rem auto 0rem;
  width: 30rem;
  border-bottom: 1px solid black;
  border-bottom-width: 1px;
}




.displayed-content {
  display: flex;
}



/* main webpage css */
.boarddisplay {
  margin-top: -4rem;
}



/* build yours raw css */
.main-content {
  margin: 0px auto;
  width: 80%;
  height: 100%;
}

.header, .header2 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.sillyStyling {
  display: flex;
  text-align: center;
  align-items: center;
  width: 13.5rem;
  justify-content: center;
}




/* full board details css */
.mainWrapper {
  margin: 0px auto;
  width: 75%;
  height: 100%;
}

.content-details {
  margin: 5rem auto 2rem;
  display: flex;
  justify-content: space-evenly;
}

.content-details1 {
  margin: 8rem auto 2rem;
  display: flex;
  justify-content: space-evenly;
}

.boardWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.wholeComplete {
  margin: 1rem auto 1rem;
  display: grid;
}

.board, .trucks, .wheels {
  grid-column: 3;
  grid-row: 3;
}

.gridLeft, .gridRight {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.detailsSize {
  text-align: center;
}

.solidLine {
  /* width: 5rem; */
  border-bottom: 1px solid rgb(219, 219, 219);
  border-style: solid;
  width: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editbtn, .delbtn {
  padding: 0rem 1rem 0rem 1rem;
}

.buttons2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}




/* culture raw css */
.culture-content {
  margin: 0px auto;
  width: 80%;
  height: 100%;
}

.culture-history {
  margin: 5em auto 2em;
  display: flex;
  justify-content: center;
}

.photoCC {
  margin-top: 5px;
  font-size: smaller;
  color: rgb(161, 161, 161);
}

.section1, .section2, .section3, .section4, .section5, .section6, .section7 {
  margin: 5em auto 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
}

.section2 {
  display: flex;
  justify-content: space-around;
}

.cultureimage {
width: 30%;
display: flex;
flex-direction: column;
text-align: center;
}

.texttag {
  width: 85%;
}

.textcontent {
  width: 700px;
}

.textcontent1 {
  width: 725px;
}

.section8 {
  margin-bottom: 250px;
}





/* brands raw css */
.logoimage {
  width: 25%;
  display: flex;
  text-align: center;
  }

.brand {
  margin: 5em auto 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 80%;
  }


.brandcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* width: 80%; */
}

.brandcontent1 {
  display: flex;
  align-items: center;
  text-align: center;
}

.hello {
  margin: -35px auto 0em;
  display: flex;
  justify-content: center;
}